USE [master]
GO
/****** Object:  Database [Cinema]    Script Date: 25/03/26 00:30:59 ******/
CREATE DATABASE [Cinema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cinema', FILENAME = N'D:\Users\hasul\MSSQL16.MSSQLSERVER\MSSQL\DATA\Cinema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cinema_log', FILENAME = N'D:\Users\hasul\MSSQL16.MSSQLSERVER\MSSQL\DATA\Cinema_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cinema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cinema]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 25/03/26 00:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Halls]    Script Date: 25/03/26 00:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Halls](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[HallTypeID] [int] NULL,
 CONSTRAINT [PK_Halls] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HallTypes]    Script Date: 25/03/26 00:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HallTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](max) NULL,
	[BaseRating] [float] NULL,
 CONSTRAINT [PK_HallTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenres]    Script Date: 25/03/26 00:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenres](
	[MovieID] [int] NOT NULL,
	[GenreID] [int] NOT NULL,
 CONSTRAINT [PK_MovieGenres] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC,
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 25/03/26 00:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Rating] [float] NULL,
	[StartDate] [date] NULL,
	[AgeRating] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[Duration] [int] NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 25/03/26 00:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HallID] [int] NULL,
	[RowNumber] [int] NULL,
	[SeatNumber] [int] NULL,
 CONSTRAINT [PK_Seats] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 25/03/26 00:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NULL,
	[HallID] [int] NULL,
	[DateTime] [datetime] NULL,
	[Price] [decimal](10, 0) NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 25/03/26 00:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NULL,
	[UserID] [int] NULL,
	[SeatID] [int] NULL,
	[PurchaseDate] [datetime] NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/03/26 00:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([ID], [Name]) VALUES (1, N'Боевик')
INSERT [dbo].[Genres] ([ID], [Name]) VALUES (2, N'Комедия')
INSERT [dbo].[Genres] ([ID], [Name]) VALUES (3, N'Драма')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[Halls] ON 

INSERT [dbo].[Halls] ([ID], [Name], [HallTypeID]) VALUES (1, N'Зал 1', 2)
INSERT [dbo].[Halls] ([ID], [Name], [HallTypeID]) VALUES (2, N'Зал 2', 1)
INSERT [dbo].[Halls] ([ID], [Name], [HallTypeID]) VALUES (3, N'Зал 3', 2)
SET IDENTITY_INSERT [dbo].[Halls] OFF
GO
SET IDENTITY_INSERT [dbo].[HallTypes] ON 

INSERT [dbo].[HallTypes] ([ID], [TypeName], [BaseRating]) VALUES (1, N'Стандартный', 3)
INSERT [dbo].[HallTypes] ([ID], [TypeName], [BaseRating]) VALUES (2, N'Комфорт', 4)
INSERT [dbo].[HallTypes] ([ID], [TypeName], [BaseRating]) VALUES (3, N'VIP', 5)
SET IDENTITY_INSERT [dbo].[HallTypes] OFF
GO
INSERT [dbo].[MovieGenres] ([MovieID], [GenreID]) VALUES (1, 1)
INSERT [dbo].[MovieGenres] ([MovieID], [GenreID]) VALUES (1, 4)
INSERT [dbo].[MovieGenres] ([MovieID], [GenreID]) VALUES (1, 6)
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([ID], [Title], [Description], [Rating], [StartDate], [AgeRating], [ImagePath], [Duration]) VALUES (1, N'Inception', N'Профессиональный вор крадет идеи из подсознания людей во время сна', 8.8, CAST(N'2010-07-22' AS Date), N'16+', N'..\Images\3841x.jpg', 148)
INSERT [dbo].[Movies] ([ID], [Title], [Description], [Rating], [StartDate], [AgeRating], [ImagePath], [Duration]) VALUES (2, N'The Matrix', N'Хакер узнает, что реальность - это симуляция', 8.7, CAST(N'1999-03-31' AS Date), N'18+', N'..\Images\840x.jpg', 136)
INSERT [dbo].[Movies] ([ID], [Title], [Description], [Rating], [StartDate], [AgeRating], [ImagePath], [Duration]) VALUES (3, N'Interstellar', N'Команда исследователей путешествует через червоточину', 8.6, CAST(N'2014-11-06' AS Date), N'12+', N'..\Images\384x.jpg', 169)
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[Seats] ON 

INSERT [dbo].[Seats] ([ID], [HallID], [RowNumber], [SeatNumber]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Seats] ([ID], [HallID], [RowNumber], [SeatNumber]) VALUES (2, 1, 1, 2)
INSERT [dbo].[Seats] ([ID], [HallID], [RowNumber], [SeatNumber]) VALUES (3, 5, 1, 3)
SET IDENTITY_INSERT [dbo].[Seats] OFF
GO
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([ID], [MovieID], [HallID], [DateTime], [Price]) VALUES (1, 1, 1, CAST(N'2024-01-15T10:00:00.000' AS DateTime), CAST(350 AS Decimal(10, 0)))
INSERT [dbo].[Sessions] ([ID], [MovieID], [HallID], [DateTime], [Price]) VALUES (2, 1, 1, CAST(N'2024-01-15T13:30:00.000' AS DateTime), CAST(400 AS Decimal(10, 0)))
INSERT [dbo].[Sessions] ([ID], [MovieID], [HallID], [DateTime], [Price]) VALUES (3, 1, 1, CAST(N'2024-01-15T17:00:00.000' AS DateTime), CAST(450 AS Decimal(10, 0)))
SET IDENTITY_INSERT [dbo].[Sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([ID], [SessionID], [UserID], [SeatID], [PurchaseDate]) VALUES (1, 1, 1, 2, CAST(N'2024-01-10T15:30:00.000' AS DateTime))
INSERT [dbo].[Tickets] ([ID], [SessionID], [UserID], [SeatID], [PurchaseDate]) VALUES (2, 1, 1, 3, CAST(N'2024-01-10T15:30:00.000' AS DateTime))
INSERT [dbo].[Tickets] ([ID], [SessionID], [UserID], [SeatID], [PurchaseDate]) VALUES (3, 1, 2, 4, CAST(N'2024-01-11T10:15:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Login], [Password], [FirstName], [LastName]) VALUES (1, N'user1', N'123', N'Иван', N'Петров')
INSERT [dbo].[Users] ([ID], [Login], [Password], [FirstName], [LastName]) VALUES (2, N'user2', N'456', N'Елена', N'Соколова')
INSERT [dbo].[Users] ([ID], [Login], [Password], [FirstName], [LastName]) VALUES (3, N'user3', N'789', N'Дмитрий', N'Козлов')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Halls]  WITH CHECK ADD  CONSTRAINT [FK_Halls_HallTypes] FOREIGN KEY([HallTypeID])
REFERENCES [dbo].[HallTypes] ([ID])
GO
ALTER TABLE [dbo].[Halls] CHECK CONSTRAINT [FK_Halls_HallTypes]
GO
ALTER TABLE [dbo].[MovieGenres]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenres_Genres] FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genres] ([ID])
GO
ALTER TABLE [dbo].[MovieGenres] CHECK CONSTRAINT [FK_MovieGenres_Genres]
GO
ALTER TABLE [dbo].[MovieGenres]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenres_Movies] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([ID])
GO
ALTER TABLE [dbo].[MovieGenres] CHECK CONSTRAINT [FK_MovieGenres_Movies]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [FK_Seats_Halls] FOREIGN KEY([HallID])
REFERENCES [dbo].[Halls] ([ID])
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [FK_Seats_Halls]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Halls] FOREIGN KEY([HallID])
REFERENCES [dbo].[Halls] ([ID])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Halls]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Movies] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([ID])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Movies]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Seats] FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seats] ([ID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Seats]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Sessions] FOREIGN KEY([SessionID])
REFERENCES [dbo].[Sessions] ([ID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Sessions]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Users]
GO
USE [master]
GO
